//colors
$blue: #4bcdd8;
$white: #fff;
$dark: #222;
$black: #000;

//shadows

@mixin shadow {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.7);
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  color: $white;
  font-size: 1rem;
  background-image: linear-gradient(to bottom, #3ad4c2, #18a898);
  //background-size: 200%;
  transition: 400ms;
  //  background-position: center;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  @include shadow;

  /* &:active {
    background-position: bottom;
  }

  @media (min-width: 40em) {
    &:hover {
      background-position: bottom;
    }
  }*/
}
