$blue: #4bcdd8;
$white: #fff;
$dark: #222;
$black: #000;

@mixin shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  color: $white;
  font-size: 1rem;
  background-image: linear-gradient(to left, #4094af, #57c7d1, #4094af);
  background-size: 200%;
  transition: 400ms;
  background-position: left;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  @include shadow;

  &:active {
    background-position: right;
  }

  @media (min-width: 40em) {
    &:hover {
      background-position: right;
    }
  }
}
