@import "../../css/variables.module.scss";

.landing {
  min-height: 70vh;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .img_container {
    position: absolute;
    top: 2.7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 18rem;
    background-color: #4bcdd8;
    border-radius: 0.8rem;
  }

  article {
    margin: 0 auto;
    padding: 1.2rem 1rem 3.5rem;
    position: absolute;
    bottom: -2rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.8rem;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    @include shadow;

    h1,
    p {
      width: 17rem;
      text-align: center;
    }

    button {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
